{% extends 'base.html' %}{% block content %}

	 <div class="main">
	   <div class="wrap">
	 	  <div class="pages">
	 	   	<div id="myElement">Завантаження плеєра...</div>

<script type="text/javascript">
    jwplayer("myElement").setup({
        	file: "./index.m3u8",
        image: "/files/image/image.img",
                width: 1050,
                height: 600,
                title: "Мой мегаклип"
    });
</script>

	 	   	<p class="m_10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil </p>
	 	   	<p class="m_11">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil </p>
	 	  <div class="btn1"><a href="#">Read More</a></div>
	 	  <div class="clear"></div>
		  </div>
		</div>
	  </div>
	{% endblock %}