        <div class="slider">
				<!---start-da-slider----->
			  <div id="da-slider" class="da-slider">
				  <div class="da-slide">
					<h1>API для отримання </h1>
					<p>Дивіться усі телеканали в хорошій якості безкоштовно</p>
					<a href="#about" class="da-link">Перейти</a>
				  </div>
				  <div class="da-slide">
					<h1>Зараз в ефірі</h1>
					<p>Не хочете ходити по каналах -
                    дивіться те, що йде зараз</p>
					<a href="#about" class="da-link">Перейти</a>
				  </div>
				  <div class="da-slide">
					<h1>Телепрограмма</h1>
					<p>Переглядайте час трансляції</p>
					<a href="#about" class="da-link">Перейти</a>
				  </div>
				  <div class="da-slide">
					<h1>Улюблені телеканали</h1>
					<p>Додайте ваші улюблені телеканали до свого списку</p>
					<a href="#about" class="da-link">Перейти</a>
				  </div>		
				  <nav class="da-arrows">
					<span class="da-arrows-prev"></span>
				 	<span class="da-arrows-next"></span>
				  </nav>
			   </div>
 		       <!---//End-da-slider----->
	      </div>