        <div class="slider">
				<!---start-da-slider----->
			  <div id="da-slider" class="da-slider">
				  <div class="da-slide">
					<h1>API телепрограмми</h1>
					<p>Безкоштовно отримайте доступ до телепрограмми</p>
					<a href="#about" class="da-link">Перейти</a>
				  </div>
				  <div class="da-slide">
					<h1>Велика кількість каналів</h1>
					<p>Понад 200 українських та закордонних телеканалів</p>
					<a href="#about" class="da-link">Перейти</a>
				  </div>
				  <div class="da-slide">
					<h1>Телепрограмма</h1>
					<p>Переглядайте час трансляції</p>
					<a href="#about" class="da-link">Перейти</a>
				  </div>
				  <nav class="da-arrows">
					<span class="da-arrows-prev"></span>
				 	<span class="da-arrows-next"></span>
				  </nav>
			   </div>
 		       <!---//End-da-slider----->
	      </div>