{% extends 'base.html' %}
{% block content %}
	 <div class="main">
	     <div class="wrap">
	 	   <div class="pages">
	 	   	 <div class="blog-top">
			  <div class="col_1_of_b span_1_of_b">
					<h3><a href="channel.html">Lorem Ipsum is simply</a></h3>
					<a href="channel.html"><img src="../static/images/b1.jpg" alt=""></a>
					<div class="blog-poast-admin">
						<a href="#"><img src="../static/images/b1_small.jpg" title="admin"></a>
					</div>
					<div class="blog-poast-info">
						<ul>
							<li><i class="admin"> </i><a class="admin" href="#"><span> </span> Admin </a></li>
							<li><i class="date"> </i><a class="p-date" href="#"><span> </span>12-04-2014 </a></li>
							<li><i class="comment"> </i><a class="p-blog" href="#"><span> </span>No Comments</a></li>
						</ul>
				    </div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<div class="button"><a href="#">Read More</a></div>
				</div>
				<div class="col_1_of_b span_1_of_b">
					<h3><a href="channel.html">Lorem Ipsum is simply</a></h3>
					<a href="channel.html"><img src="../static/images/b2.jpg" alt=""></a>
					<div class="blog-poast-admin">
						<a href="#"><img src="../static/images/b2_small.jpg" title="admin"></a>
					</div>
					<div class="blog-poast-info">
						<ul>
							<li><i class="admin"> </i><a class="admin" href="#"><span> </span> Admin </a></li>
							<li><i class="date"> </i><a class="p-date" href="#"><span> </span>12-04-2014 </a></li>
							<li><i class="comment"> </i><a class="p-blog" href="#"><span> </span>No Comments</a></li>
						</ul>
				    </div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<div class="button"><a href="#">Read More</a></div>
				</div>
				<div class="clear"></div>
			  </div>
			  <div class="blog-top">
			  <div class="col_1_of_b span_1_of_b">
					<h3><a href="channel.html">Lorem Ipsum is simply</a></h3>
					<a href="channel.html"><img src="../static/images/b3.jpg" alt=""></a>
					<div class="blog-poast-admin">
						<a href="#"><img src="../static/images/b3_small.jpg" title="admin"></a>
					</div>
					<div class="blog-poast-info">
						<ul>
							<li><i class="admin"> </i><a class="admin" href="#"><span> </span> Admin </a></li>
							<li><i class="date"> </i><a class="p-date" href="#"><span> </span>12-04-2014 </a></li>
							<li><i class="comment"> </i><a class="p-blog" href="#"><span> </span>No Comments</a></li>
						</ul>
				    </div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<div class="button"><a href="#">Read More</a></div>
				</div>
				<div class="col_1_of_b span_1_of_b">
					<h3><a href="channel.html">Lorem Ipsum is simply</a></h3>
					<a href="channel.html"><img src="../static/images/b4.jpg" alt=""></a>
					<div class="blog-poast-admin">
						<a href="#"><img src="../static/images/b4_small.jpg" title="admin"></a>
					</div>
					<div class="blog-poast-info">
						<ul>
							<li><i class="admin"> </i><a class="admin" href="#"><span> </span> Admin </a></li>
							<li><i class="date"> </i><a class="p-date" href="#"><span> </span>12-04-2014 </a></li>
							<li><i class="comment"> </i><a class="p-blog" href="#"><span> </span>No Comments</a></li>
						</ul>
				    </div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<div class="button"><a href="#">Read More</a></div>
				</div>
				<div class="clear"></div>
			  </div>
			  <div class="blog-top">
			  <div class="col_1_of_b span_1_of_b">
					<h3><a href="channel.html">Lorem Ipsum is simply</a></h3>
					<a href="channel.html"><img src="../static/images/b5.jpg" alt=""></a>
					<div class="blog-poast-admin">
						<a href="#"><img src="../static/images/b5_small.jpg" title="admin"></a>
					</div>
					<div class="blog-poast-info">
						<ul>
							<li><i class="admin"> </i><a class="admin" href="#"><span> </span> Admin </a></li>
							<li><i class="date"> </i><a class="p-date" href="#"><span> </span>12-04-2014 </a></li>
							<li><i class="comment"> </i><a class="p-blog" href="#"><span> </span>No Comments</a></li>
						</ul>
				    </div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<div class="button"><a href="#">Read More</a></div>
				</div>
				<div class="col_1_of_b span_1_of_b">
					<h3><a href="channel.html">Lorem Ipsum is simply</a></h3>
					<a href="channel.html"><img src="../static/images/b6.jpg" alt=""></a>
					<div class="blog-poast-admin">
						<a href="#"><img src="../static/images/b6_small.jpg" title="admin"></a>
					</div>
					<div class="blog-poast-info">
						<ul>
							<li><i class="admin"> </i><a class="admin" href="#"><span> </span> Admin </a></li>
							<li><i class="date"> </i><a class="p-date" href="#"><span> </span>12-04-2014 </a></li>
							<li><i class="comment"> </i><a class="p-blog" href="#"><span> </span>No Comments</a></li>
						</ul>
				    </div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<div class="button"><a href="#">Read More</a></div>
				</div>
				<div class="clear"></div>
			  </div>
		     </div>
		  </div>
		</div>
	{% endblock %}