{% extends 'base.html' %}	 {% block content %}

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
<div class="main">
	     <div class="wrap">
             <div class="m_3"><span class="left_line"></span>Зараз в ефірі<span class="right_line"> </span></div>
	 	   	      <div class="content-top">
				 <div class="col_1_of_projects span_1_of_projects"><a href="#">
				   <div class="view view-first">
                    <img src="../static/images/pic3.jpg" alt=""/>
                      <div class="mask">
                        <h2>Я робот</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                         <a class="popup-with-zoom-anim" href="#small-dialog3"> <div class="info">Дивитися</div></a>
		                     <div id="small-dialog3" class="mfp-hide">
							   <div class="pop_up2">
							   	  <img src="../static/images/pic3.jpg"/ alt=""/>
							   </div>
							 </div>
                        </div>
                     </div>
				  </a> </div>
				 <div class="col_1_of_projects span_1_of_projects"><a href="#">
				   <div class="view view-first">
                    <img src="../static/images/pic6.jpg" alt=""/>
                      <div class="mask">
                        <h2>Том і Джеррі</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                         <a class="popup-with-zoom-anim" href="#small-dialog4"> <div class="info">Дивитися</div></a>
		                     <div id="small-dialog4" class="mfp-hide">
							   <div class="pop_up2">
							   	  <img src="../static/images/pic6.jpg"/ alt=""/>
							   </div>
							 </div>
                        </div>
                     </div>
				  </a> </div>
				 <div class="col_1_of_projects span_1_of_projects"><a href="#">
				   <div class="view view-first">
                    <img src="../static/images/pic5.jpg" alt=""/>
                      <div class="mask">
                        <h2>Зважані та щасливі.
                        4 сезон 2 серія</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                         <a class="popup-with-zoom-anim" href="#small-dialog5"> <div class="info">Дивитися</div></a>
		                     <div id="small-dialog5" class="mfp-hide">
							   <div class="pop_up2">
							   	  <img src="../static/images/pic5.jpg"/ alt=""/>
							   </div>
							 </div>
                        </div>
                     </div>
				  </a> </div>
				 <div class="col_1_of_projects span_1_of_projects"><a href="#">
				   <div class="view view-first">
                    <img src="../static/images/pic4.jpg" alt=""/>
                      <div class="mask">
                        <h2>Термінатор 2</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                         <a class="popup-with-zoom-anim" href="#small-dialog6"> <div class="info">Дивитися</div></a>
		                     <div id="small-dialog6" class="mfp-hide">
							   <div class="pop_up2">
							   	  <img src="../static/images/pic4.jpg"/ alt=""/>
							   </div>
							 </div>
                        </div>
                     </div>
				  </a> </div>
				<div class="clear"></div>
		 </div>
<br>
<br><br><br>


	 	     <div class="content-top">
	 	    	<div class="col_1_of_4 span_1_of_4">
	 	    		<i class="settings"> </i>
					<img src="../static/images/pic.jpg" alt=""/>
					<div class="desc">

						<h3>Easy Customizable</h3>
						<p>Lorem ipsum dolor sit amet,consect<br> adipiscing elit, sed diam nonummy nibh<br>euismod tincidunt ut laoreet dolore delenit.</p>
					</div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
	 	    		<i class="clock"> </i>
					<img src="../static/images/pic1.jpg" alt=""/>
					<div class="desc">
						<h3>Project Planning</h3>
						<p>augue duis dolore te feugait nulla<br> adipiscing elit, sed diam nonummy nibh<br>euismod tincidunt ut laoreet dolore delenit.</p>
					</div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
	 	    		<i class="aeroplane"> </i>
					<img src="../static/images/pic2.jpg" alt=""/>
					<div class="desc">
						<h3>Fastest Workers</h3>
						<p>soluta nobis eleifend option congue<br> adipiscing elit, sed diam nonummy nibh<br>euismod tincidunt ut laoreet dolore delenit.</p>
					</div>
				</div>
				<div class="clear"></div>
		     </div>
</div></div>
{% endblock %}